.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}

.container h2 {
    font-size: 3rem;
    width: 45%; 
    margin: 0 auto; 
    padding: 2rem; 
    box-sizing: border-box; 
    background-color: rgba(204, 225, 80, 1);
    border-radius: 3px;
}

.container h1{
    margin-top: 1.5rem;
}